THE_AWAKENING/
*.psd
*.tif
*.prproj
*.prin
*.xml
*.pdf
!TECH_LOGS/*.pdf
!TECH_LOGS/UPLOADED_NOTEBOOK_DEEPDIVES/*.pdf
!NOTEBOOKLM_EXPLAINERS/*
*.aep
FLOW_TO_THE_MUSIC/WHAT_WORLD_IS_THIS.mp4
MOTION_EDITS/ASHER_REVEAL_VIDEO/8Bit_Aesthetic_Test.mp4
